doctype html
html
	head
		title= title
		script(src='/components/platform/platform.js')
		link(rel='import' href='/components/core-elements/core-elements.html')
		link(rel='import' href='/components/paper-elements/paper-elements.html')
		link(rel='stylesheet', href='/stylesheets/base.css')
		link(rel='stylesheet', href='/stylesheets/#{pageName}.css')
	body
		block content